.botao {
    background-color: #6278f7;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    margin: 10px 0;
}

.botao:hover {
    color: #95FFD4;
}